<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%= stylesheet_pack_tag 'hello-world-bundle' %>
  </head>

    <main class="container mx-auto mt-20 px-5 flex">
      <%= yield %>
    </main>
</html>
